/* Resetting All the Default Settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Overall Settings */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.4;
    background: url('../img/pexels.jpeg') no-repeat center center/cover;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

.btn {
    color: black;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    border-radius: 5px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid black;
}

.container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.center {
    text-align: center;
}

#currency {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    padding: 2rem;
}

#header {
    background: rgb(255, 255, 255, 0.5);
    border-bottom: black 3px solid;
    margin-bottom: 4rem;
}