
.studentPic {
  /* padding: 1rem; */
  /* margin: 1rem; */
  height: 500px;
  width: 600px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}


.fbox {
  display: flex;
}

.fStart{
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.fEnd {
  justify-content: flex-end;
}
.textCentering {
  text-align: center;
}

.fColumn {
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  position: relative;
}

.buttonAlign {
  position: absolute;
  /* right:0; */
  bottom:0;
  right:0;
  padding: 2rem 0;
}



.textColor {
  color: #052340;
}

.nameFont {
  font-size: 26px;
}


.buttonBorder {
  padding: 5px;
  border-radius: 10px;
  color: #052340;
  background: white;
  font-size: 14px;
  box-shadow: 3px 3px #ccc;
}

.buttonHeightAndWidth{
  height: 45px;
  width:100px;
}
.selectHeightAndWidth {
  height: 25px;
  width: 300px;
}

#bottomRight-Container{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  height: 100%;
  
}


/* 
.buttonContent {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
} */


#campusContainer {
  display: flex;
}



.campusPic {
  height: 125px;
  width: 125px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.campusBorder {
  border-radius: 10px;
  color: #052340;
  background: white;
  font-size: 14px;
  box-shadow: 3px 3px #ccc;
  

}

.textMargin {
  margin: 0px 10px;
}

#campusInsideBox {
  display: flex;
  flex-direction: row;
}

.Display001 {
  justify-content: center;
  text-align: center;
}