
.center1 {
  display: flex;
  /* text-align: center; */
   flex-direction: column;
  /* justify-content: center;
  align-items: center; */

  position: absolute;
  top: calc(15vh - 88.19px);
  left: 0;
  right: 0;
  bottom: 0;
}

.StudentBackground {
  background-image: url('../../src/img/HBCShowcase.jpeg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: calc(100vh - 88.19px);
  position: relative;
}

.formatColumn {
  display: flex;
  flex-direction: column;
}

.center2 {
  color: #052340;
  border-radius: 15px;
  font-size: 2rem;
  padding: 6rem;
  opacity: 0.9;
  flex-direction: row;
  text-align: center;
  background: white;
}

/* .item1 {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  color: #052340;
  background: white;
  font-size: 16px;
  box-shadow: 2px 2px #ccc;
  width: 50%;
} */

.item-2 {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: #052340;
  background: white;
  font-size: 14px;
  box-shadow: 2px 2px #ccc;
}

.item3 {
  color: #052340;
}

.header-font {
  font-size: 50px;
}

.header-margin {
  margin: 1rem;
}

.textPadding {
  padding: .5rem;
}

.textFont {
  font-size: 20px;
  font-weight: bold;
}

.labelDisplay{
  align-items: flex-start;
}

.Add001 {
  margin: .5rem;
  padding: .5rem;
  border-radius: 10px;
  color: #052340;
  background: white;
  font-size: 16px;
  box-shadow: 2px 2px #ccc;
  width: 50%;
}

.Add002 {
  margin: .5rem;
  padding: 2rem 5rem;
}