.Background {
    background-image: url('../../src/img/HBCShowcase.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: calc(100vh - 88.19px);
    position: relative;
}

.Background002 {
    background-image: url('../../src/img/HBCShowcase.jpeg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.div {
    display: flex;
    /* Flex default is row */
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    /* Overlay */
    position: absolute;
    top: calc(15vh - 88.19px);
    left: 0;
    right: 0;
    bottom: 0;
}

.div2 {
    color: #052340;
    border-radius: 15px;
    font-size: 3rem;
    padding: 5rem;
    opacity: 0.9;
    text-align: center;
    background: white;
}

.logoSize {
    padding: .3rem;
    margin: .3rem;
    height: 70px;
    width: 110px;
}

.textSize {
    font-size: 16px;
}