.link {
    text-decoration: none;
    color: #2b6397;
}

.login001 {
    font-size: 15px;
    text-align: center;
    margin: 0.2rem;
}

.login002 {
    font-size: 15px;
    text-align: center;
    margin: 0.2rem;
}

.login002:hover {
    color: #2b6397;
}