.container000 {
    background-image: url("https://thumbs.gfycat.com/MediocreElegantFattaileddunnart-size_restricted.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: calc(100vh - 88.19px);
    position: relative;
}

.container001 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: calc(15vh - 88.19px);
    left: 0;
    right: 0;
    bottom: 0;
}

.container002 {
    color: #052340;
    border-radius: 15px;
    font-size: 2rem;
    padding: 5rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    opacity: 0.9;
    text-align: center;
    background: white;
}

.container003 {
    display: flex;
    flex-direction: column;
}

.container004 {
    font-size: 24px;
    text-align: center;
}

.container005 {
    margin: 1rem;
    padding: 1rem;
    color: #052340;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    border: 1px lightgray solid;
    box-shadow: 2px 2px #ccc;
}

.container006 {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: #052340;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    border: 1px lightgray solid;
    box-shadow: 2px 2px #ccc;
    font-weight: bold;
}

.container006:hover {
    background: lightgray;
}

.container007 {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.container008 {
    color: #052340;
    text-align: center;
    justify-content: center;
    line-height: center;
}

.container009 {
    justify-content: center;
    line-height: center;
    height: 50px;
}
