.stocks001{
    margin: 1rem 2rem;
    padding: 1rem;
    color: #052340;
    font-size: 24px;
    font-weight: bold;
    background: white;
    border-radius: 10px;
}

.stocks001:hover {
    background: lightgray;
}

.stocks002 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stocks003 {
    margin: 1rem;
    padding: 1rem;
    color: #052340;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    border: 1px lightgray solid;
    box-shadow: 2px 2px #ccc;
    font-weight: bold;
}

.stocks003:hover {
    background: lightgray;
}

.stocks004 {
    padding: 0 1rem;
    text-align: left;
}

.stocks005 {
    margin: 1rem;
    padding: 1rem;
    color: #052340;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    border: 1px lightgray solid;
    box-shadow: 2px 2px #ccc;
}

.stocks006 {
    background: white;
    opacity: 0.9;
    height: auto;
}

.stocks007 {
    background-image: url("https://thumbs.gfycat.com/MediocreElegantFattaileddunnart-size_restricted.gif");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.stocks008 {
    margin: 1rem 2rem;
    padding: 1rem;
    color: #052340;
    font-size: 24px;
    font-weight: bold;
    background: lightgray;
    border-radius: 10px;
}