@import '../App.scss';

$bgColor: #a7bcff;
$textColor: #5d5d8d;

.register {
    background-color: $bgColor;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: $textColor;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: $textColor;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid $bgColor;

                &::placeholder{
                    color: rgb(175, 175, 175);
                }
            }

            .cancel {
                background: none;
                font-weight: bold;
                color: $textColor;

                &:hover {
                    color: $bgColor;
                }
            }

            button {
                background-color: $bgColor;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                border-radius: 1rem;

                &:hover {
                    color: $textColor;
                }
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $bgColor;
                font-size: 12px;
                cursor: pointer;

                img {
                    width: 32px;
                }
            }
        }

        p {
            color: $textColor;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}