.ContentHeader {
    display: flex;
    justify-content: space-between;
}

.LS1 {
    padding: .5rem;
    margin: .5rem;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.Button {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: #052340;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    border: 1px lightgray solid;
    box-shadow: 2px 2px #ccc;
}

.Button:hover {
    background: lightgray;
}

.CampusHeader {
    margin: 1.5rem;
    color: #052340;
}

.CampusCard {
    border: 1px lightgray solid;
    box-shadow: 2px 2px #ccc;
    border-radius: 10px;
    margin: .5rem;
    padding: 2rem 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.cc1 {
    text-decoration: none;
    width: 25%;
}

.cc2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.oz1{
    padding: 0 1rem;
    font-size: 20px;
    color: #052340;
}

.oz2 {
    padding: 0 1rem;
    color: #215383;
}

.minibtn {
    margin: 0 1rem;
    padding: 0.5rem;
    text-align: center;
    color: #052340;
    border-radius: 5px;
    background: white;
    font-size: 16px;
    border: 1px lightgray solid;
    box-shadow: 2px 2px #ccc;
}

.le {
    color: #052340;
}

.minibtn:hover {
    background: lightgray;
}

.bd1 {
    opacity: 0.1;
}