/* Resetting All the Default Settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Overall Settings */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: white;
    color: white;

    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

/* Navbar List Settings */
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar .logo {
    display: flex;
    align-items: center;
    list-style: none;
    color: black;
}

/* Navbar List Item Settings */
#navbar ul li a {
    color: black;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: lightgray;
    border-radius: 5px;
}

.btn {
    color: black;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    border-radius: 5px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid black;
}

.center {
    text-align: center;
    display: flex;
    padding: 1rem;
}

.gap {
    padding-top: 0;
    background: black;
    height: 5px;
    margin-bottom: 10px;
}

.p-3 {
    padding: 3rem;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

/* Table Settings */
table {
    border-collapse: collapse;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
th, 
td {
    border: 3px solid black;
    padding: 2rem;
}