/* Resetting All the Default Settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Overall Settings */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: white;
    color: white;

    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

/* Navbar List Settings */
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar .logo {
    display: flex;
    align-items: center;
    list-style: none;
    color: black;
}

/* Navbar List Item Settings */
#navbar ul li a {
    color: black;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: lightgray;
    border-radius: 5px;
}

.btn {
    color: black;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    border-radius: 5px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center {
    text-align: center;
    display: flex;
    padding: 1rem;
}

.gap {
    padding-top: 0;
    background: black;
    height: 5px;
    margin-bottom: 10px;
}

.p-3 {
    padding: 3rem;
}

/* Don't hover me Button */
.btn:hover {
    background: lightgray;
}

#btn3:hover {
    background: red;
}

h2 {
    padding: 3rem;
    text-align: center;
    color: black;
}


/* page 2 form */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
  
  #contact {
    background: white;
  }
  
  #contact .contact-heading {
    color: white;
    display:flex;
    font-size: 3rem;
    align-items: center;
    text-align: center;
    color: black;
    flex: 1;
  }
  
  #contact .contact-form .form-group {
    margin: 0.7rem;
    align-items: center;
  }
  
  #contact .contact-form label {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: black;
  }
  #contact .contact-form textarea {
    resize: none;
  }
  
  #contact .contact-form input,  #contact .contact-form textarea {
    width: 60%;
    padding: 1.2rem;
  }
  
  #contact .gap {
    padding-top: 0;
    background: black;
    height: 5px;
    margin-bottom: 10px;
  }
  
  /* page 3 */

  #sphere2 {
    background: white;
  }
  
  #sphere2 .sphere-heading {
    color: white;
    display:flex;
    font-size: 3rem;
    align-items: center;
    text-align: center;
    color: black;
    flex: 1;
  }
  
  #sphere2 .sphere-form .form-group {
    margin: 0.7rem;
    align-items: center;
  }
  
  #sphere2 .sphere-form label {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: black;
  }
  #sphere2 .sphere-form textarea {
    resize: none;
  }
  
  #sphere2 .sphere-form input,  #contact .sphere-form textarea {
    width: 60%;
    padding: 1.2rem;
  }
  
  #sphere2 .gap {
    padding-top: 0;
    background: black;
    height: 5px;
    margin-bottom: 10px;
  }